* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #989898;
}
.container {
  /* border: 2px solid black; */
  padding: 20px;
  border-radius: 0px;
  background: linear-gradient(145deg, #1b1717, #201c1c);
  box-shadow: 5px 5px 10px #0c0a0a, -5px -5px 10px #302a2a;
}
button {
  height: 5vh;
  width: 5vh;
  font-size: 2vh;
  border-radius: 50%;
  border: none;
  margin: 5px;
  cursor: pointer;
}

.inp {
  font-size: 2vh;
  /* width: 12.5vw; */
  padding: 10px;
  border-radius: 10px;
  margin-bottom: 10px;
  border: none;
}
ul {
  list-style-type: none;
  color: white;
}
h6 {
  padding-bottom: 10px;
}
.History {
  width: 10vw;
  height: 40vh;
  border-radius: 0px;
  background: linear-gradient(145deg, #1b1717, #201c1c);
  box-shadow: 5px 5px 10px #0c0a0a, -5px -5px 10px #302a2a;
  padding: 10px;
  border-radius: 10px;
  /* border: 2px solid black; */
  position: relative;
}
.bt-clear {
  position: absolute;
  top: 31%;
  left: 60%;
  width: 0;
  margin: 0;
  cursor: pointer;
}
.data {
  top: 0;
}
